$green: #77dd77;

@import url('https://fonts.googleapis.com/css?family=Signika:400,600,700&display=swap');

$signika: 'Signika', sans-serif;

//breakpoints
$breakpoint-tablet: 900px;
$breakpoint-phone: 500px;
