.App {
  display: flex;
  text-align: center;
  justify-content: center;
}
img {
  position: absolute;
}
h1,
h2 {
  font-family: Playball;
  color: green;
}

.form-header {
  background: #77dd77;
}

.form-header h2 {
  font-family: Roboto;
  color: white;
}

input {
  display: flex;
  flex-direction: column;
  background: #75daff;
  width: 250px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
